<!-- partial template pour afficher une journee -->

<% if params[:action] == "new" %>
  <%= javascript_tag do %>
    window.jourCompletes = <%= raw @jourCompletes.to_json %>
  <% end %>
<% end %>

<div>
<%= form_for (@journee) do |f| %>
 <%= f.error_messages %>
  <!-- La date n'est modifiable que lors de la creation afin d'eviter
       des problemes -->
  <p>
    <% if params[:action] == "new" %>
      <label class="date">Journée:</"label>
      <%= text_field_tag("journee[date]", @journee.date.to_s(:db), :size => 12, :class => 'datepicker') %>
    <% end %>
  </p>

  <!-- 
    Afficher toutes les valeurs. Il faut construire un params id
    pour chacune puisque RoR ne le fait pas automatiquement. 
  -->
  <% Mesure::Indicateurs.each do |indic| %>
  <% mesureIdx = hrIdx = 0 %>
    <% putHeader = true %>
    <table class="indicHrs">
      <tr>
        <% for mesure in @journee.mesuresSorted %>
          <% if mesure.indicateur == indic %>
					  <% if putHeader %>
						  <% putHeader = false %>
							<h2 class="indic"><%= indic.tr('_', ' ') %></h2>
						<% end%>
            <% hrIdx = hrIdx + 1 %>
            <% if hrIdx.modulo(5) == 0 %>
              </tr><tr>
            <% end %>
            <td class="heure"><%= select_tag("mesure:"+indic+":"+mesureIdx.to_s+":heure", options_for_select(Mesure::Heures, mesure.to_heure_s), :class => 'heureVar') %></td>
            <td class="valeur"><%= text_field_tag("mesure:"+indic+":"+mesureIdx.to_s+":valeur", mesure.valeur, :size => 5, :class => 'mesureVal') %></td>
            <% mesureIdx = mesureIdx + 1 %>
          <% end -%>
        <% end -%>
      </tr>
    </table>
  <% end %>

  <br/>
  <% if button_name.length > 0 %>
    <p>
      <%= f.submit button_name, :class => "submit" %>
    </p>
  <% end %>
<% end %>
</div>