<h1>Modifier les données du <%=@journee.date-%></h1>

<%= render :partial => @journee, :locals => { :button_name => "Enregistrer"} %>

<%= link_to 'Afficher', @journee %> |
<%= link_to 'Enlever', @journee, :confirm => 'Etes vous certain?', :method => :delete %> |
<%= link_to 'Retour', journees_path %>
